if theme.disqus.enable == true
  .widget
    .widget-title
      i.fa.fa-comment-o= ' ' + __('recent_comments')
    script(type='text/javascript', src='//' + theme.disqus.shortname + '.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&avatar_size=32&excerpt_length=20&hide_mods=1')

if theme.waline.enable == true
  .widget
    .widget-title
      i.fa.fa-comment-o= ' ' + __('recent_comments')
    #waline-comment
    script(type='module').
      let commentDiv = document.getElementById("waline-comment");
      let recentCommentUrl = '#{theme.waline.serverURL}' + '/api/comment?type=recent&count=5';
      function format( date ) {
        return new Date(date).toLocaleString()
      }
      fetch(recentCommentUrl).then((comment) => {
        return comment.json()
      }).then((recentComments) => {
          let comments = "<ul>";
          recentComments.data.forEach((comment, index) => {
          comments += `<li>${index + 1}、${format(comment.time)}`
          comments += `<div class="waline-comment-content"><a class="block" href="${window.location.origin + comment.url + '#waline'}">${comment.comment}</a></div>`
          comments += `<div class="waline-comment-content-author ">--${comment.nick}</div></li>`
          });
          comments += "</ul>";
          let commentDiv = document.getElementById("waline-comment");
          commentDiv.innerHTML = comments;
      });