extends base
block title
  if page.about
     title= __('about') + ' | ' + config.title
  if page.read_list
     title= __('readingList') + ' | ' + config.title
  if page.daily
     title= '365' + ' | ' + config.title
  else 
     title= page.title + ' | ' + config.title
block content
  .post
    h1.post-title= page.title
    .post-content
      != page.content
  if page.comments
    include _partial/comments

